root = true

[*]
charset = utf-8
end_of_line = lf
indent_size = 4
indent_style = space
insert_final_newline = true
max_line_length = 200
tab_width = 4
trim_trailing_whitespace = true

[*.java]
ij_java_class_count_to_use_import_on_demand = 64
ij_java_imports_layout = $*, |, java.**, |, javax.**, |, *, |, net.minecraft.**, |, net.fabricmc.**, |, xyz.dicedpixels.**
ij_java_keep_simple_blocks_in_one_line = true
ij_java_keep_simple_classes_in_one_line = true
ij_java_keep_simple_lambdas_in_one_line = true
ij_java_keep_simple_methods_in_one_line = true
ij_java_space_before_array_initializer_left_brace = true
ij_java_spaces_within_array_initializer_braces = true
ij_java_use_single_class_imports = true

[*.properties]
ij_properties_align_group_field_declarations = true
ij_properties_keep_blank_lines = true
ij_properties_spaces_around_key_value_delimiter = true